.profil {
    max-width: 60%;
    float:right;
    padding-left: 20px;
    padding-bottom: 20px;
}

.hlavni {
    width: 100%;
}

.nazev {
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}