.profil {
    max-width: 60%;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}

.hlavni {
    width: 100%;
    margin-bottom: 30px;
}

.nazev {
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.zmenseni {
    width: 100%;
    margin-bottom: 30px;
}

.jmena {
    background-color:aquamarine;
    height: 800px;
}

.herni_plocha {
    background-color:blueviolet;
    height: 400px;
}

maly_chat {
    height: 200px;
    background-color:aqua;
}

.kulaty {
    max-width: 100%;
    width: 100px;
    border-radius: 100%;
    float: left;
    
}